html{
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: black;
}

table, tr, td, ul, li {
	margin: 0;
	padding: 0;
}

div#body {
	background-color: red;
	width: 100%;
	height: 100%;
}

div#menu {
	position: fixed;
	top: 0;
	width: 100%;
	height: 30px;
	background-color: orange;
}

div#menu table {
	width: 100%;
	height: 100%;
	border-spacing: 0;
	text-align: center;
}

div#menu table tr td a {
	display: block;
}

div#menu table tr td {
	width: 13%;
	cursor: pointer;
}

div#menu table tr td:hover {
	background-color: #991199!important;
}

div#menu table tr td.menu_focus {
	border-top: 1px solid #BBBBBB;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #BBBBBB;
	border-bottom: 1px solid #555555;
	background: #999999;
}

div#center {
	margin-top: 30px;
	height: 100%;
	width: 100%;
	background-color: blue;
}

div#center_home, div#center_option, div#center_game {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-color: green;
}

div#chat {
	position: fixed;
	top: 30px;
	left: 790px;
	width: 520px;
	height: 470px;
}

div#chat #chat_table {
	width: 100%;
}

div#chat table tr {
	vertical-align: bottom;
}

td#chat_textbox {
	overflow: auto;
	height: 100%;
	width: 100%;
}

select#chat_target {
	float: left;
}

td.chat_inputbox {
	width: 100%;
}

input#chat_input {
	margin: 0;
	padding: 0;
	width:100%;
	height: 22px;
}

button#chat_button {
	margin: 0;
	padding: 0;
	height: 24px;
	width: 50px;
}

div#shop {
	position: absolute;
	width: 500px;
	height: 300px;
	background-color: white;
	z-index: 9;
}

div#character_status {
	position: fixed;
	overflow: auto;
	background-color: grey;
	top: 30px;
	left: 710px;
	width: 80px;
	height: 500px;
	background-color: cyan;
}

div#allies_team {
	position: fixed;
	overflow: auto;
	top: 610px;
	left: 210px;
	width: 500px;
	height: 80px;
	background-color: red;
}

div#ennemies_team {
	position: fixed;
	overflow: auto;
	background-color: pink;
	top: 30px;
	left: 210px;
	width: 500px;
	height: 80px;
}

div#map {
	position: fixed;
	z-index: 5;
	overflow: auto;
	top: 110px;
	left: 210px;
	width: 500px;
	height: 500px;
	color: white;
	background-color: black;
}

div#map table {
	border-collapse: collapse;
	border-spacing: 0;
}
div#map td {
	width: 20px;
	height: 20px;
}
div#map .map_cell {
	width: 20px;
	height: 20px;
	border: 1px solid grey;
	background-size: 100%;
}
div#map img {
	width: 20px;
	height: 20px;
}

div#mini_map {
	position: fixed;
	top: 30px;
	left: 0;
	width: 210px;
	height: 210px;
	background-color: blue;
}

div#mini_map table {
	width: 200px;
	height: 200px;
	border-collapse: collapse;
	border-spacing: 0;
}

div#mini_map td {
	background-size: 100%;
	height: 4px;
	width: 4px;
}

div#character_summary {
	top: 240px;
	position: fixed;
	z-index: 4;
	left: 0;
	width: 210px;
	height: 450px;
	background-color: violet;
}

div#character_inventory {
	position: fixed;
	top : 530px;
	left: 1010px;
	width: 300px;
	height: 170px;
	background-color: darkorange;
}

div#character_skills {
	position: fixed;
	top : 530px;
	left: 710px;
	width: 300px;
	height: 170px;
	background-color: lightgreen;
}